<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace = "~{/header.html :: header}">

    </div>
    인사 관리 페이지
    <div id = "personPost">
        <a onclick = "personInput()">
            인사 등록
        </a>
    </div>
    <br/>
    <div id = "personGet">
        <a onclick = "personGetInput()">
            인사 출력
        </a>
    </div>
    <br/>
    <div id = "personUpdate">
        <a onclick = "personUpdateInput()">
            인사 수정
        </a>
    </div>
    <br/>
    <div id = "personDelete">
        <a onclick = "personDeleteInput()">
            인사 삭제
        </a>
    </div>
</body>
</html>